img {
    height: 15%; 
    width: 15%; 

}


h1 {
    text-align: center;
    
}

#instructions {
    text-align: center; 
    width: 100%; 
    margin: auto; 
    background: rgb(175, 175, 231); 
    font-style: italic;
    padding: 20px; 
    margin-top: -33px; 
}

#numbers-block {
    float: right; 
    text-align: center; 
    width: 100%; 
    margin: auto; 
    background: rgb(174, 243, 174); 
    font-weight: 400px;
    padding: 20px; 
}

#score-block {
    text-align: center; 
    width: 100%; 
    margin: auto; 
    background: rgb(230, 206, 164); 
    font-weight: 400px;
    padding: 20px; 
}