img {
    height: 15%; 
    width: 15%;;
    margin-right: 50px; 
    margin-left: 50px;
}


h1 {
    text-align: center; 
}

#header-font {
    font-family: 'Dancing Script', cursive;
    font-size: 100px; 
}

#instructions {
    text-align: center; 
    width: 100%; 
    margin: auto; 
    background: rgb(175, 175, 231); 
    padding: 20px; 
    margin-top: -33px; 
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px; 
}

#numbers-block {
    float: right; 
    text-align: center; 
    width: 100%; 
    margin: auto; 
    background: rgb(174, 243, 174); 
    font-weight: 400px;
    font-size:20px; 
    padding: 20px; 
    font-family: 'PT Sans Narrow', sans-serif;
}

#score-block {
    text-align: center; 
    width: 100%; 
    margin: auto; 
    background: rgb(230, 206, 164); 
    font-weight: bolder;
    padding: 20px; 
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:20px; 
}
